input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#content,
#trash_content {
    margin-top: 20px;
}

button {
    color: blue;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #ff3333;
}

input {
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button img {
    width: 16px;
    height: 16px;
}

.entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}